.fondoinicio {
    background-color: var(--first-color);
    height: 754px;
    display: grid;
    color: var(--sixeth-color);
    align-content: center;
    text-align: center;
    color: white;
}

.btnredes{
    font-size: 23px;
    color: white; 
}
.txtDescrip{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
}
#txtprincipal{
    font-size: 36px;
    font-weight: 600;

}
