@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --header-height: 3rem;
    --nav-whith: 68px;

    --first-color: #00296B;
    --second-color: #00509D;
    --third-color: #FC7802;
    --fourth-color: #FDC500;
    --fifth-color: #FF224A;
    --sixth-color: #F9F9FF;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--sixth-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}
.container{
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}
.margin-description{
    margin: 0;
    
}

/*Boton 1*/
.btnBontona{
    background-color: var(--fifth-color);
    color: white;
    height: auto;
    width: auto;
    padding: 18px 28px ;
    border-radius: 30px;
    border-color: none;
    font-weight: 600;
    font-size: 15px;
    transition: all 400ms ease;
   /* transition: padding 0.1s;*/
    border: none;
    box-sizing: border-box;
}
.btnBontona:hover{    
    padding: 15px 20px ;
    box-shadow: 0.3em 0.3em 1em rgba(28, 28, 28, 0.3);  
}
/*Boton 2*/
.btnBontonb{
    background-color: rgb(202, 202, 202);
    color: white;
    height: auto;
    width: auto;
    padding: 18px 28px ;
    border-radius: 30px;
    border-color: none;
    font-weight: 600;
    font-size: 15px;
    transition: all 400ms ease;
   /* transition: padding 0.1s;*/
    border: none;
    box-sizing: border-box;
}
.btnBontonb:hover{    
    padding: 15px 20px ;
    box-shadow: 0.3em 0.3em 1em rgba(28, 28, 28, 0.3); 
    background-color: var(--fifth-color); 
}


@media screen  and (min-width: 820px){
    .container{
        padding: 0 80px 0 80px;
        box-sizing: border-box;
    }
    .margin-description{
        
        margin-left: 0px;
        
    }
    
}

    